:root {
    --primary: #f39c12;
    --dark: #ee8428;
    --accent: #34495e;
    --text:#333333;
    --dark-grey: rgb(51, 51, 51);
    --error: #e74c3c;
    --hint: #95a5a6;
    --divider: #e6e6e6;
    --font-family: 'Montserrat', sans-serif;
    --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}