@import 'variables';
@import 'reset';
@import 'classes';
@import 'utils';
@import 'media-queries';
@import 'base';

.container {
    min-height: 100vh;
    display: grid;
    grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto
}

header {
    grid-area: header;
    background: var(--dark);
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    a {
        color: #ffffff;
    }
    .header-logo {
        font-size: 35px;
        font-weight: 700;
    }
    ul {
        display: flex;
        li {
            .header-nav {
                font-size: 14px;
                padding: 0 10px;
            }
            .active {
                font-weight: 800;
            }
        }
    }
}

.content {
    grid-area: content;
    // background: red;
    padding: 20px;
}

footer {
    grid-area: footer;
    background: var(--dark-grey);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}